<header class="header-content header">
    <div class="logo-content" >
        <img src="../../assets/logo.jpeg" alt="logo" class="image" />
        <div>
            <span class="addressBook-text">Address</span><br />
            <span class="addressBook-text addressBook-book">Book</span>
        </div>
    </div>
    <div class="button">
        <button type="button" class="btn button-42"(click)="onClickNavigateToInfo()">Info</button>
        <button type="button" class="btn button-42"(click)="onClickNavigateToHome()">Dashboard</button>
        <button type="button" class="btn button-42 "(click)="onClickNavigateToForm()" >Form</button>
 </div>
</header>
<router-outlet></router-outlet>